<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="top">
                <div class="title"><h1>Tic Tac Toe</h1></div>
                <div class="title"><h1>Turn: {{ turn }}</h1></div>
            </div>
            <form action="/game" method="POST">
                <div class="content">
                    <div class="board">
                        {% for i in range(9) %}
                            <div class="cell" id="play_{{i}}">
                                <button class="button" type="submit" name="cell_index" value="{{ i }}">{{ play[i] }}</button>
                            </div>
                        {% endfor %}
                    </div>	 
                </div>
            </form>
            <form method="post" action="/reset">
                <button class="reset" type="submit">Reset Game</button>
            </form>
        </div>
    </body>
<footer>
    <p>Developed by Andre Zibelli</p>
</footer>
</html>
